@using Furni.ViewModels.ProductViewModels
@model List<ProductIndexViewModel>

        <div class="container">
            <div class="row">
                 <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">ImageName</th>
          <th scope="col">ImagePath</th>
          <th scope="col">IsDeleted</th>
          <th scope="col">Active</th>
          
        </tr>
      </thead>
      <tbody>
        @foreach(var product in Model){
                <tr>
                        <th scope="row">@product.Id</th>
                        <td>@product.Title</td>
                        <td>@product.Price</td>
                        <td>@product.ImageName</td>
                        <td>@product.ImagePath</td>
                        <td>@product.IsDeleted</td>
                        
              <td>
                            <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                            <form asp-action="Toggle" asp-route-id="@product.Id"  method="post">
                                @if (!product.IsDeleted)
                                {
                                    <button class=" btn btn-danger">
                                        
                                    </button>
                                }
                                else
                                {
                                    <button class=" btn btn-success">
                                        
                                    </button>
                                }
                            </form>
              </td>
                </tr>
        }
      </tbody>
    </table>
         </div>

        </div>